@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat:wght@100;300;400;600;800&family=Pacifico&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    color: #FF8C00;    
}

body{
    background-color: #1e2326;
}

.container{
    width: 400px;
    height: 600px;
    margin: auto;
    max-width: 80%;
}


/* Profile Section */
.profile h1{
    letter-spacing: 1px;
}
.profile span{
    color: #fff;
}
#date{
    padding: 50px 0px 5px 0px;
    color: white;
}

/* Adding Section */
.add-task{
    background-color: #fff;
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 70px;
    margin: 40px 0;
}
.add-task input{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: #fff;
}
.add-task i{
    font-size: 50px;
    cursor: pointer;
}
.add-task i:hover{
    transform: scale(1.1);
}
.add-task input::placeholder{
    font-size: 1.1rem;
}

/* Task Section */
.task-section h3{
    margin-bottom: 20px;

}
.task-section li{
    display: flex;
    background-color: #252a2e;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}
.task-section i{
    font-size: 25px;
}
.task-section i:hover{
    color: #f9b25a;
    cursor: pointer;
}
.task-section >ul p{
    font-size: 1.2rem;
    color: #fff;
    padding: 15px;
}


.line-through{
    text-decoration: line-through;
    color: #f9b25a;
}